.headerline {
  position: absolute;
  display: flex;
  margin-left: 186px;
}

.btn {
  width: 116.67px;
  height: 27.12px;
  background: #4b51ef;
  border-radius: 5px;
  margin-left: 161px;
}

.frame {
  position: absolute;
  margin: 35px 0 0 186px;
  width: 438px;
  height: 500px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
}

.text {
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 1px 5px 2px;
}
.active{
  border: green;
  color: green;
  transition: 0.5s;
  transform: scale(1.2)
}

.border {
  margin: 8px 0 0px 13px;
  width: 211px;
  height: 22px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  ::-webkit-input-placeholder {
    padding: 0px 0 0 10px;
  }
}

.name {
  margin: 20px 0 0 12px;
  width: 22px;
  height: 9px;
  font-size: 10px;
}

.username {
  margin: 10px 0 3px 13px;
  font-size: 10px;
}

.bordername {
  margin: 0px 0 0 13px;
  width: 211px;
  height: 22px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  ::-webkit-input-placeholder {
    padding: 0px 0 0 10px;
  }
}

.comment {
  margin: 0px 0 0 13px;
  width: 410px;
  height: 55px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.disable {
  margin: 30px 0 0 355px;
  width: 85px;
  height: 24.12px;
  background: #808080;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

.btntext {
  font-size: 12px;
  color: white;
}
