.container {
  position: absolute;
  width: 513px;
  height: 900px;
  margin: 10px 0 0 192px;
}

.border {
  width: 420px;
  height: 75px;
  border: 2px solid #f3f3f3;
  background: #f3f3f3;
  border-radius: 8px;
  margin-top: 24px;
}

.users {
  display: flex;
  margin-top: -2px;
}

.name {
  margin: 10px 0 0 10px;
  font-size: 11px;
  color: #a3a3a3;
}
.username {
  font-size: 11px;
  margin: 10px 0 0 7px;
}
.button {
  position: absolute;
  background-color: transparent;
  color: #4b51ef;
  font-weight: 600;
  font-size: 12px;
  margin: 49px 10px 10px 347px;
  &:hover {
    cursor: pointer;
  }
}

.lengthUsers {
  margin: 5px 0 0 220px;
}
